<%- include('portals/header') %>

<h1 class="d-flex bg-danger py-2 px-4">
    <span class="col-3 archivo d-block text-light text-bolder fs-1">diahoo</span>
    <span class="col-9 d-lg-block d-none pt-2 px-3 oswald text-info fs-4">A Social Media Platform. It Offer You To Emjoy A Better Life</span>
</h1>
<div class="shadow rounded col-lg-8 col-md-10 col-11 m-auto p-4 m-4">
    <% if (!messsage) {%>
        <div class="col-12 col-lg-6 m-auto">
            <h1 class="text-light text-center oswald pb-4 text-bolder">Forgotten password!! <br> <span class="text-info rubik fs-3">Reset your password by email</span><h1>
            <form action="/resetpassword" method="post">
                <div class="py-2">
                    <label class="d-block text-bolder oswald fs-lg-4 fs-5 text-light p-2" for="username">Write your email</label>
                    <input class="d-block required fs-lg-4 fs-6 bordernone w-100 text-bolder text-light py-lg-2 py-2 px-lg-4 px-md-3 px-3 " type="email" value="" name="username" placeholder="email....">
                </div>
                <div class="py-4 text-center">
                    <input class="py-2 fs-lg-4 fs-5 registerbtn shadow px-4 text-bolder text-light bg-danger" type="submit" value="Send code on Mail">
                </div>
                <div class="text-light fs-6 text-center">
                    <a href="/login">Back to login?!</a>
                </div>
            </form>
        </div>
    <% } else if (messsage == 'User not found please create and account') { %>
        <div class="col-12 col-lg-6 m-auto">
            <h1 class="text-light text-center oswald pb-4 text-bolder">Not found user! <br> <span class="text-info rubik fs-3"><%- messsage %></span><h1>
            <a class="d-block text-decoration-none text-center fs-5 bg-danger text-light rounded shadow px-4 py-2" href="/register">Create an account</a>
        </div>
    <% } else if (messsage == 'Password reset link has sent to your mail. Check and reset your password') { %>
        <div class="col-12 col-lg-6 m-auto">
            <h1 class="text-light text-center oswald pb-4 text-bolder">Successfull! <br> <span class="text-info rubik fs-6"><%- messsage %></span><h1>
            <a class="d-block text-decoration-none text-center fs-5 bg-danger text-light rounded shadow px-4 py-2" href="/login">Back to login</a>
        </div>
    <% } %>
</div>