<%- include('portals/header') %>

<section class="p-0 header-animation">
    <h1 class="d-flex bg-danger py-2 px-4">
        <span class="col-3 archivo d-block text-light text-bolder fs-1">diahoo</span>
        <span class="col-9 d-lg-block d-none pt-2 px-3 oswald text-info fs-4 fs-lg-2">A Social Media Platform. It Offer You To Emjoy A Better Life</span>
    </h1>
</section>
<div style="background-color: rgb(131, 19, 19);" class="col-12 p-2 px-ls-5 my-5 col-lg-4 m-auto">
    <% if (reqresetusekey == verificationCode) { %>
        <h1 class="text-light text-center oswald pb-4 text-bolder">Successfull! <br> <span class="text-info rubik fs-3"></span><h1>
        <form action="/setnewpassword/<%- reqresetuseid %>" method="post">
            <div class="py-2">
                <label class="d-block text-bolder oswald fs-lg-4 fs-5 text-light p-2" for="newpassword">Write new password</label>
                <input class="d-block required fs-lg-4 fs-6 bordernone w-100 text-bolder text-light py-lg-2 py-2 px-lg-4 px-md-3 px-3 " id="newpassword" type="password" value="" name="newpassword" placeholder="New password....">
            </div>
            <div class="py-2">
                <label class="d-block text-bolder oswald fs-lg-4 fs-5 text-light p-2" for="confirmpassword">Write confirm password</label>
                <input class="d-block required fs-lg-4 fs-6 bordernone w-100 text-bolder text-light py-lg-2 py-2 px-lg-4 px-md-3 px-3 " id="confirmpassword" type="password" value="" name="confirmpassword" placeholder="Confirm password....">
            </div>
            <div class="py-4 text-center">
                <input class="py-2 fs-lg-4 fs-5 registerbtn shadow px-4 text-bolder text-light bg-danger" type="submit" value="Re-set password">
            </div>
        </form>
    <% } else { %>
        <h1 class="text-light text-center oswald pb-4 text-bolder">Ops! <br> <span class="text-info rubik fs-3">Link has experired</span><h1>
        <div class="text-light fs-6 text-center">
            <a href="/resetpasswordpage">Try again</a>
        </div>
    <% } %>
</div>