<div>
    <ul class="nav m-2 mx-4">
        <li class="text-bolder nav-item pointer p-1 px-4 bg-primary rounded text-light" onclick="showfriendreq()">Friend Request</li>
        <li class="text-bolder nav-item pointer mx-3 p-1 px-4 bg-danger text-light" onclick="showallfriens()">My Friend</li>
    </ul>
</div>
<div class="" id="friendreqsts" >
    <div style="background-color: rgb(51, 49, 49);" class="col-lg-5 col-11 py-2 px-4 mx-4 d-inline-block">
        <h2 class="text-light text-bolder">Loading....</h2>
    </div>
</div>
<div class="desnot" id="allfriend" >
    <div style="background-color: rgb(51, 49, 49);" class="col-lg-5 col-11 py-2 px-4 mx-4 d-inline-block">
        <h2 class="text-light text-bolder">Loading....</h2>
    </div>
</div>