<div style="position: fixed; top: 10;" class="col-3 d-lg-inline-block d-none bg-black mx-2 p-4">
    <div style="overflow: hidden;" class="">
        <div class="shadow bg-none rounded text-center col-lg-8 col-12 m-auto">
            <div style="border-radius: 100px; height: 100px; width: 100px; margin-top: -50px; border: 1px solid gray;" class="m-auto profiledefaltphoto text-center">
                <img style="border-radius: 100px; height: 100%; width: 100%;" class="d-block" src="\assets\images\profilephoto\<%= myself.profilephoto %>" alt="">
        </div>
        <div class="text-center">
            <h3 class="text-light"><%= myself.fullname %></h3>
            <p style="font-size: 15px;" class="text-info text-bolder"><%= myself.tittle %></p>
        </div>
    </div>
    <div class="list-group">
        <a style="border: none; background-color: rgb(19, 17, 17);" onclick="feedfunt()" class="list-group-item pointer my-1 hoverr text-info text-bolder" id="feedbtnn">Feed</a>
        <a style="border: none; background-color: rgb(19, 17, 17);" onclick="addnotesfunt()" class="list-group-item pointer my-1 hoverr text-info text-bolder" id="addnotee">Add Notes</a>
        <a style="border: none; background-color: rgb(19, 17, 17);" onclick="myfunt('<%- myself._id %>')" class="list-group-item pointer my-1 hoverr text-info text-bolder" id="mynotee">My Notes</a>
    </div>

</div>
</div>