<div class=" col-lg-8 col-12">
    <div class="list-group">
        <a style="border: none;" onclick="profilefunt()" class="list-group-item bg-dark pointer my-1 hoverr text-info text-bolder">Profile</a>
        <a style="border: none;" href="/editprofile" class="list-group-item my-1 bg-dark hoverr text-info text-bolder">Edit Profile</a>
        <a style="border: none;" onclick="friendfunt(), fatchsenduserids('<%= myself.friendrequests %>'), fatchmyfriendids('<%= myself.friends %>')" class="list-group-item pointer my-1 hoverr bg-dark text-info text-bolder">Friends</a>
        <a style="border: none;" onclick="messagefunt(), myChatList('<%= myself._id %>')" class="list-group-item my-1 pointer hoverr bg-dark text-info text-bolder">Message</a>
        <a style="border: none;" onclick="homefunt()" class="list-group-item my-1 pointer hoverr bg-dark text-info text-bolder">Feed</a>
        <a style="border: none;" onclick="helpfunt()" class="list-group-item my-1 hoverr bg-dark text-info pointer text-bolder">Help</a>
        <a style="border: none;" onclick="reportfunt()" class="list-group-item my-1 hoverr bg-dark text-info pointer text-bolder">Report</a>
        <a style="border: none;" onclick="aboutfunt()" class="list-group-item my-1 hoverr bg-dark text-info pointer text-bolder">About</a>
        <a style="border: none;" href="/logout" class="list-group-item my-1 bg-dark hoverr text-info text-bolder">Log out</a>
      </div>
</div>