.header-animation {
    opacity: 0;
    animation: header-animation 2s ease-out forwards;
}

.p-animation {
    opacity: 0;
    animation: p-animation 2s ease-in-out forwards;
}

.animation-one {
    opacity: 0;
    animation: animation-one 2s ease-in-out forwards;
}

.animation-two {
    opacity: 0;
    animation: animation-two 2s ease-in-out forwards;
}

.animation-three {
    opacity: 0;
    animation: animation-three 2s ease-in-out forwards;
}

@keyframes header-animation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes p-animation {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animation-one {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animation-two {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animation-three {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
